@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Roboto:wght@100&display=swap");




i{
  cursor: pointer;
}
label{
  font-size: 20px ;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
}
span{
  color: red;
}
.container{
  margin: auto;
}
.navbar{
  box-shadow: 2px 1px 10px black;
}
/* ========================================= */
/* ===============About Page Css=============*/
/* ========================================= */
.about{
display: flex;
flex-direction: column;
text-align: center;
padding: 30px;
margin-top: 80px;
  color: white;
  width: 100%;
  box-shadow: 15px 15px 5px 5px rgb(58, 53, 53);
  background-color: black;
}
.about h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.about p{
  font-family: 'Courier New', Courier, monospace;
}
/* ========================================= */
/* ===============Add Notes Css=============*/
/* ========================================= */
.NotesForm {
  width: 40%;
  padding: 5px 10px;
  margin: auto;
  background-image: linear-gradient(rgb(248, 245, 245), rgb(190, 190, 179));
  border-radius: 20px 0px 20px 0px;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  color: rgb(14, 14, 13);
  box-shadow: 3px 3px 10px -3px black;
}
.NotesForm h2 {
 font-family: "Akaya Telivigala", cursive;
 width: 60%;
 margin: auto;
 border-radius: 30px;
 padding-bottom: 3px;
 border-bottom: 4px solid rgb(8, 8, 8);
 margin-bottom: 15px;
text-align: center;
}
.NotesForm form {
  width: 70%;
  margin: auto;
}
.NotesForm input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(7, 7, 7);
  width: 100%;
}

/* ========================================= */
/* ===============Login CSS================= */
/* ========================================= */
.container .Login{
  padding: 20px 20px;
  width:600px;
  margin: auto;
  margin-top: 30px;
  margin-top: 50px;
  box-shadow: 3px 3px 10px -3px black;
}
.Login h3{
  padding: 0px 20px;
  text-align: center;
}
.login_form form{
padding: 10px 30px;
}
.Login input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 10, 10);
}
.login_img {
padding: auto;
}
.login_img img{
  padding: 20px;
  /* justify-content: center; */
  /* text-align: center; */
  /* margin: auto;/ */
  height: 100%;
  width: 100%;
}

/* ========================================= */
/* ===============Signin CSS================ */
/* ========================================= */
.container .Signin{
  padding: 25px;
 
}
.container .Signin h3{
  width: 100%;
  margin: auto;
  border-radius: 30px;
  padding-bottom: 5px;
  border-bottom: 4px solid rgb(8, 8, 8);
  margin-bottom: 15px;
 text-align: center;
}
.container .Signin form{
  
  padding: 20px 50px;
  width: 40%;
  margin: auto;
  box-shadow: 3px 3px 10px -3px black;
}
.Signin input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(10, 10, 10);
}

/* ========================================= */
/* ===============Note_Card CSS============= */
/* ========================================= */
.YourNotes h2{
  font-family: "Akaya Telivigala", cursive;
  display: block;
  border-radius: 30px;
  padding: 3px 200px;
  border-bottom: 4px solid rgb(8, 8, 8);
  margin-bottom: 15px;
 text-align: center;
}

.Note_card{
height: 200px;
}
.card{
  height: 100%;
  box-shadow: 3px 3px 10px -3px black;
  text-align: center;
}
.card .title{
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}
.card .description{

  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 2px;
}
.card .tag{
  font-size: 14px;
  display:inline-block;
  width: 150px;
    font-weight: 600;
}
.card .I_btn{
  font-size: 25px;
  position: absolute;
  bottom: 10px;
  border-top: 1px solid black;
  padding-top: 9px;
  display: flex;
  justify-content:space-around;
  width: 90%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}
.card .I_btn .fa-trash{
    color: rgb(221, 15, 15);
    /* float: right; */
}
.card .I_btn .fa-pen-to-square{
color: blue;
}